nav
  ul.center
    li 
      a(href="/dashboard") Dashboard
    li 
      a(href="/users") Users
    if loggedIn
      li 
        a(href="/logout") Logout
    else
      li 
        a(href="/login") Login
      li 
        a(href="/register") Register
      
