extends layout

block content
	h1 Welcome back #{username}
	a(href="/logout") Log out
	br
	br
	div
		a(id="showPost" href="#addPost") Create a new Post
		form(id="addPost" action="/create" method="post")
			div
				label(for="title") Title
				br
				input(type="text" id="title" name="title")
			div
				label(for="content") Content
				br
				textarea(id="content" name="content")
			div
				input(type="submit")
