extends layout

block content
  h1 Edit profile
  b Names and handles can only be alphanumeric
  form(method="post", action="/api/profile")
    label(for="name") Name: 
    input(type="text", name="name", placeholder="#{user.name}", required)
    br
    label(for="handle") Handle: 
    input(type="text", name="handle", placeholder="#{user.handle}", required)
    br
    label(for="description") Description: 
    textarea(name="description")
    br
    button(type="submit") Edit
