extends layout

block content
	h1= title
	p Welcome to #{title}
	a(class="showLogin" href="#loginForm") Log in
	include ./includes/loginForm.jade
	span  or 
	a(class="showRegister" href='#registerForm') Register
	include ./includes/registerForm.jade
