extends layout

block content

	div.center
		h1= title
		p Welcome to #{title}
		a(class="showLogin" href="#") Log in
		span  or 
		a(class="showRegister" href='#') Register
		include ./includes/loginForm.jade
		include ./includes/registerForm.jade
