extends layout

block content
	h1 Register
	
	form(action="/register" method="post")
		div
			label(for="firstname") First Name 
			br
			input(type="text" id="firstname")
		div
			label(for="lastname") Last Name 
			br
			input(type="text" id="lastname")
		div
			label(for="username") User Name 
			br
			input(type="text" id="username")
		div
			label(for="password") Password 
			br
			input(type="password" id="password")
		div
			button(type="submit") Register