extends layout

block content
	h1 #{username}
	
	p Welcome to #{name}'s homepage
	if notEmpty
		h3 All of #{name}'s posts
			each post in blogPosts
				div.post
					include ./includes/post.jade
	else
		h3 #{name} hasn't posted anything yet.
