extends layout

block content
  div#info
    h1 User #{user.handle} profile
    p #{user.name}
    p #{user.description}
    if sameUser
      a(href="/edit") Edit Profile
  div#userPosts
    h2 Posts
      if empty
        p This user has not posted anything
      each post in userPosts
        div.post
          include ./includes/post.jade
