/*= = = Nav Bar = = =*/

nav
{
  background-color: #e3e3e3;
}

nav ul
{
  list-style-type: none;
  margin: 0;
}

nav ul li
{
  display: inline;
}

/*= = = End of Nav = = =*/

/*= = = Login Page = = =*/

.loginForm
{
  display: none;
}

.registerForm
{
  display: none;
}

/*= = = End of Login = = =*/
.post
{
  border: 1px solid black;
}

#addPost
{
  display: none;
}

.editPost
{
  display: none;
}

/*= = = User Posts = = =*/

.singlePost
{
  margin: 0 auto;
  width: 90%;
  border: 1px solid black;
  padding: 10px
}

.timeStamp
{
  text-align: right;
}

.postContent
{
  background-color: #e5e5e5;
  padding: 5px;
}

/*= = = End User Posts = = =*/


/*= = = Misc Styles = = =*/

/*Forces new line from Text area*/
p
{
  white-space: pre;
}

/*General cetnering class*/
.center
{
  text-align: center;
}

ul
{
  list-style-type: none;
}

/*= = = End Misc Styles = = =*/