body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*= = = Login Page = = =*/

.loginForm
{
  display: none;
}

.registerForm
{
  display: none;
}

/*= = = End of Login = = =*/
.post
{
  border: 1px solid black;
}

#addPost
{
  display: none;
}

.editPost
{
  display: none;
}
